ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me
AUTH_SECRET=change_me_long_random_string
GITHUB_TOKEN=
GITHUB_OWNER=zmin511
GITHUB_REPO=smart-route-list
GITHUB_BRANCH=main
ROUTES_JSON_PATH=routes.json
ROUTES_TXT_PATH=smart-route-list.txt
